<include href="views/includes/header.html"/>
<!-- purple header -->
<div class="edge-header orange lighten-2" style="height:215px;"></div>

<!-- main container -->
<div class="container free-bird">
    <!-- row -->
    <div class="row">
        <!-- container -->
        <div class="col-md-8 col-lg-7 mx-auto float-none white z-depth-1 py-2 px-2 grey lighten-5">

            <!-- card -->
            <div class="card-body">
                <h1 class="h1-responsive text-center"><strong>Contact Us</strong></h1>
                <h4 class="pb-4 h4-responsive text-center orange-text">Feel free to give us feedback! <i class="far fa-hand-point-down"></i></h4>

                <!-- form -->
                <form action="" method="post">

                    <!-- title -->
                    <div class="form-group py-3">
                        <h5 class="h5-responsive"><label for="title">What do you call it?</label></h5>
                        <check if="{{ isset(@errors['title']) }}">
                            <em class="text-danger">{{ @errors['title'] }}</em>
                        </check>
                        <input type="text" class="form-control hoverable" id="title"
                               placeholder="Your Name" name="title" value="{{ @title }}">
                    </div>

                    <!-- time -->
                    <div class="form-group py-3">
                        <h5 class="h5-responsive"><label for="time">Email</label></h5>
                        <check if="{{ isset(@errors['time']) }}">
                            <em class="text-danger">{{ @errors['time'] }}</em>
                        </check>
                        <input type="text" class="form-control hoverable" id="time"
                               placeholder="Email Address" name="time" value="{{ @time }}">
                    </div>


                    <!-- Description -->
                    <div class="form-group pt-5 pb-3">
                        <h5 class="h5-responsive"><label for="description">Leave Us Feedback</label></h5>
                        <check if="{{ isset(@errors['description']) }}">
                            <em class="text-danger">{{ @errors['description'] }}</em>
                        </check>
                        <textarea id="description" class="form-control hoverable" rows="8"
                                  placeholder="Questions, comments, concerns..."
                                  name="description">{{ @description }}</textarea>
                    </div>



                    <!-- submit/back -->
                    <div class="pt-5 text-center">
                        <button type="submit" class="btn peach-gradient text-white"
                                name="submit">Submit <i class="fas fa-arrow-right pl-1"></i></button>
                    </div>
                </form>
                <!-- form -->
            </div>
            <!--card-->
        </div>
        <!-- container -->
    </div>
    <!-- row -->
</div>
<!-- main container -->
<include href="views/includes/footer.html"/>