<include href="views/includes/header.html"/>
<!-- Jumbotron -->
<div class="card card-image" style="background-image: url(images/cooking.jpg);">
    <div class="text-white text-center rgba-grey-light py-5 px-4">
        <div class="pt-5 pb-3">

            <!-- Content -->
            <!--<h4 class="h4 orange-text"><i class="fas fa-cookie-bite"></i> Cooking</h4>-->
            <h1 class="card-title display-4 my-4 py-2">Welcome to Foodie!</h1>
            <h4 class="mb-4 pb-2 px-md-5 mx-md-5 h4-responsive">
                Here at Foodie you can discover new recipes as well as share your own delicious recipes.<br>
                There is no sign up necessary so feel free to share what you'd like.
            </h4>
            <a class="btn peach-gradient mb-3 text-white" href="../foodie/discover"><i class="fas fa-clone left"></i> Discover Recipes</a>
        </div>
    </div>
</div>
<!-- Jumbotron -->

<div class="card orange lighten-2">
    <div class="text-white text-center px-4 pt-2">
        <div class="py-2">
            <h4 class="h4-responsive darken-hover">
                <a href="../foodie/share" class="text-white"><i class="fas fa-globe-americas mr-1"></i> Share a recipe</a>
            </h4>
        </div>
    </div>
</div>
<!-- Jumbotron -->

<h1 class="h1-responsive pt-5 mt-5 text-center">Featured</h1>
<!--<h1 class="h1-responsive text-center"><i class="far fa-hand-point-down"></i></h1>-->

<!-- recipe cards -->
<repeat group="{{ @recipes }}" value="{{ @recipe }}" counter="{{ @ctr }}">
    <!-- container -->
    <check if="{{ @ctr == 1 }}">
        <true>
            <div class="container pt-5">
        </true>
        <false>
            <div class="container pt-5 wow fadeIn">
        </false>
    </check>
        <!-- recipe jumbotron -->
        <div class="jumbotron text-center hoverable p-4 grey lighten-5">
            <!-- row -->
            <div class="row">
                <!-- column -->
                <div class="col-md-4 offset-md-1 mx-3 my-3">
                    <!-- image -->
                    <!--Mask with wave-->
                    <div class="view overlay">
                        <img src="{{ @recipe['image'] }}" class="img-fluid" alt="Sample image with waves effect.">
                        <a href="../foodie/recipe/{{ @recipe['recipe_id'] }}">
                            <div class="mask waves-effect waves-light rgba-white-slight"></div>
                        </a>
                    </div>
                </div>
                <!-- column -->

                <!-- column -->
                <div class="col-md-7 text-md-left ml-3 mt-3">

                    <!-- Category -->
                    <a href="{{ @path }}/search/{{@categories[(int)@recipe['category']-1]}}" class="orange-text">
                        <h6 class="h6 pb-1 deep-orange-lighter-hover"><i class="fas fa-utensils"></i> {{ @categories[(int)@recipe['category']-1] }}</h6>
                    </a>

                    <!-- Title -->
                    <h4 class="h4 mb-4">{{ @recipe['title'] }}</h4>

                    <!-- Part of description -->
                    <p class="font-weight-light">{{ substr(@recipe['description'] , 0, 261)}}
                    </p>

                    <!-- Time -->
                    <h6 class="h6 pb-1"><i class="far fa-clock"></i> {{ @recipe['time'] }}</h6>
                    <!-- Date -->
                    <h6 class="h6 pb-1">Posted on: {{ date('F j, Y', strtotime(@recipe['date_created'])) }}</h6>
                    <!-- View recipe -->
                    <a class="ml-0 btn peach-gradient text-white" href="../foodie/recipe/{{ @recipe['recipe_id'] }}"><i class="fas fa-hamburger mr-1"></i> Full recipe </a>
                </div>
                <!-- column -->
            </div>
            <!-- row -->
        </div>
        <!-- recipe jumbotron -->
    </div>
    <!-- container -->
</repeat>

<div class="text-center">
    <a class="btn btn-link text-center" href="../foodie/discover">More</a>
</div>
<include href="views/includes/footer.html"/>

