<include href="views/includes/header.html"/>
<!-- Page Content -->
<div class="container pt-5 mt-5">
    <div class="row">

        <!-- Post Content Column -->
        <div class="col-lg-7">
            <a href="#" class="orange-text">
                <h6 class="h6-responsive pl-1 pb-1 deep-orange-lighter-hover animated fadeInRightBig"><i class="fas fa-utensils"></i> Healthy</h6>
            </a>
            <!-- Title -->
            <h1 class="h1-responsive animated fadeInRightBig">Title of recipe</h1>

            <hr>

            <!-- Date -->
            <h6 class="pl-1 h6-responsive">Posted on January 1, 2019</h6>

            <!-- Preview Image -->
            <img class="img-fluid rounded z-depth-1 my-3" src="images/cereal.jpg" alt="">

            <!-- Post Content -->
            <h6 class="h6-responsive py-3"><i class="far fa-clock"></i> 1 hr 30 min</h6>

            <!-- Description -->
            <h5 class="py-3 h5-responsive">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus, vero, obcaecati, aut, error quam sapiente nemo saepe quibusdam sit excepturi nam quia corporis eligendi eos magni recusandae laborum minus inventore?</h5>
            <hr>

            <!-- Ingredients -->
            <h2 class="py-3 h2-responsive"><i class="fas fa-tasks orange-text"></i> Ingredients</h2>
            <div class="pl-3 pb-4">
                <p class="hideme"><a class="check"><i class="far fa-square fa-sm"></i> Lorem ipsum dolor sit amet, consectetur</a></p>
                <p class="hideme"><a class="check"><i class="far fa-square fa-sm"></i> Lorem ipsum dolor sit amet, consectetur</a></p>
                <p class="hideme"><a class="check"><i class="far fa-square fa-sm"></i> Lorem ipsum dolor sit amet, consectetur</a></p>
                <p class="hideme"><a class="check"><i class="far fa-square fa-sm"></i> Lorem ipsum dolor sit amet, consectetur</a></p>
                <p class="hideme"><a class="check"><i class="far fa-square fa-sm"></i> Lorem ipsum dolor sit amet, consectetur</a></p>
                <p class="hideme"><a class="check"><i class="far fa-square fa-sm"></i> Lorem ipsum dolor sit amet, consectetur</a></p>
            </div>
            <hr>

            <!-- Instructions -->
            <h2 class="py-3 h2-responsive"><i class="fas fa-list-ol orange-text"></i> Instructions</h2>
            <div class="pl-3 pb-5">
                <p class="hideme">1. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus, vero, obcaecati, aut, </p>
                <p class="hideme">2. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus, vero, obcaecati, aut, </p>
                <p class="hideme">3. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus, vero, obcaecati, aut, </p>
                <p class="hideme">4. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus, vero, obcaecati, aut, </p>
                <p class="hideme">5. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus, vero, obcaecati, aut, </p>
                <p class="hideme">6. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus, vero, obcaecati, aut, </p>
            </div>
        </div>
        <!-- Post Content Column -->

        <!-- Sidebar Column -->
        <div class="col-lg-4 ml-lg-auto mt-lg-5">

            <!-- Search  -->
            <div class="card my-4 hoverable mt-lg-5">
                <h5 class="card-header h5-responsive">Discover Recipes</h5>
                <div class="card-body">
                    <!-- Search form -->
                    <form class="form-inline w-100">
                        <div class="my-0">
                            <input class="form-control" type="text" placeholder="Search for.." aria-label="Search">
                        </div>
                        <button class="btn btn-md peach-gradient my-0 text-white" type="submit">Go</button>
                    </form>
                </div>
            </div>

            <!-- Categories -->
            <div class="card my-4 hoverable">
                <h5 class="card-header h5-responsive">Recipe Categories</h5>
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-6">
                            <ul class="list-unstyled mb-0">
                                <li>
                                    <a href="#" class="orange-text darken-hover">Web Design</a>
                                </li>
                                <li>
                                    <a href="#" class="orange-text darken-hover">HTML</a>
                                </li>
                                <li>
                                    <a href="#" class="orange-text darken-hover">Freebies</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-lg-6">
                            <ul class="list-unstyled mb-0">
                                <li>
                                    <a href="#" class="orange-text darken-hover">JavaScript</a>
                                </li>
                                <li>
                                    <a href="#" class="orange-text darken-hover">Java</a>
                                </li>
                                <li>
                                    <a href="#" class="orange-text darken-hover">Tutorials</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Related recipe cards -->
            <h2 class="text-center pt-5 h2-responsive">Related Recipes</h2>
            <div class="hold-cards pb-5">
                <!-- Card -->
                <div class="card mb-5 hoverable">

                    <!-- Card image -->
                    <div class="view overlay">
                        <img class="card-img-top" src="https://mdbootstrap.com/img/Mockups/Lightbox/Thumbnail/img%20(67).jpg" alt="Card image cap">
                        <a href="#!">
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>

                    <!-- Card content -->
                    <div class="card-body">

                        <h4 class="card-title h4-responsive">Title of the recipe</h4>

                        <!-- Text -->
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <p class="card-text"><i class="far fa-clock"></i> 1 hr 30 min</p>


                        <!-- Button -->
                        <a href="#" class="btn peach-gradient text-white">Full recipe <i class="fas fa-arrow-right pl-1"></i></a>

                    </div>
                </div>
                <!-- Card -->

                <!-- Card -->
                <div class="card mb-5 hoverable">

                    <!-- Card image -->
                    <div class="view overlay">
                        <img class="card-img-top" src="https://mdbootstrap.com/img/Mockups/Lightbox/Thumbnail/img%20(67).jpg" alt="Card image cap">
                        <a href="#!">
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>

                    <!-- Card content -->
                    <div class="card-body">

                        <!-- Title -->
                        <h4 class="card-title h4-responsive">Title of the recipe</h4>

                        <!-- Text -->
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <p class="card-text"><i class="far fa-clock"></i> 1 hr 30 min</p>


                        <!-- Button -->
                        <a href="#" class="btn peach-gradient text-white">Full recipe <i class="fas fa-arrow-right pl-1"></i></a>

                    </div>
                </div>
                <!-- Card -->
            </div>
            <!-- hold cards -->
        </div>
        <!-- Sidebar Column -->
    </div>
    <!-- /.row -->

</div>
<!-- /.container -->
<include href="views/includes/footer.html"/>