<include href="views/includes/header.html"/>
<!-- Page Content -->
<div class="container pt-5 mt-5 content">
    <div class="row">

        <!-- Post Content Column -->
        <div class="col-lg-7">
            <a href="../search/{{ @categories[(int)@recipe['category']-1] }}" class="orange-text">
                <h5 class="h5-responsive pl-1 pb-1 deep-orange-lighter-hover animated fadeInRightBig slower">
                    <i class="fas fa-utensils"></i> {{ @categories[(int)@recipe['category']-1] }}</h5>
            </a>
            <!-- Title -->
            <h1 class="h1-responsive animated fadeInRightBig slow">{{ @recipe['title'] }}</h1>

            <hr>

            <!-- Date -->
            <h6 class="pl-1 h6-responsive">Posted on {{ date('F j, Y', strtotime(@recipe['date_created'])) }}</h6>

            <!-- Preview Image -->
            <img class="img-fluid rounded z-depth-1 my-3" src="../{{ @recipe['image'] }}" alt="">

            <!-- Post Content -->
            <h4 class="h4-responsive py-3"><i class="far fa-clock"></i> {{ @recipe['time'] }}</h4>

            <!-- Description -->
            <h5 class="py-3 h5-responsive">{{ @recipe['description'] }}</h5>
            <hr>

            <!-- Ingredients -->
            <h2 class="py-3 h2-responsive"><i class="fas fa-tasks orange-text"></i> Ingredients</h2>
            <div class="pl-3 pb-4">
                <repeat group="{{ @ingredients }}" value="{{ @ingredient }}">
                    <p class="wow fadeIn faster"><a class="check"><i class="far fa-square fa-sm"></i> {{ @ingredient }}</a></p>
                </repeat>
            </div>
            <hr>

            <!-- Instructions -->
            <h2 class="py-3 h2-responsive"><i class="fas fa-list-ol orange-text"></i> Instructions</h2>
            <div class="pl-3 pb-5">
                <repeat group="{{ @instructions }}" value="{{ @instruction }}" counter="{{ @ctr }}">
                    <p class="wow fadeIn faster">{{ @ctr }}. {{ @instruction }}</p>
                </repeat>
            </div>

            <!-- edit recipe -->
            <div class="row justify-content-center">
                <button type="button" id="edit" class="btn btn-link" data-toggle="modal" data-target="#basicExampleModal">Edit Recipe</button>
            </div>





        </div>
        <!-- Post Content Column -->

        <!-- Sidebar Column -->
        <div class="col-lg-4 ml-lg-auto mt-lg-5">

            <!-- Search  -->
            <div class="card my-4 hoverable mt-lg-5">
                <h5 class="card-header h5-responsive">Discover</h5>
                <div class="card-body">
                    <!-- Search form -->
                    <form class="form-inline w-100" method="post" action="">
                        <div class="my-0">
                            <input class="form-control" type="text" placeholder="Search for recipes.."
                                   name="search" aria-label="Search">
                        </div>
                        <button class="btn btn-md peach-gradient my-0 text-white" type="submit" name="submit">Go</button>
                    </form>
                </div>
            </div>

            <!-- Categories -->
            <div class="card my-4 hoverable">
                <h5 class="card-header h5-responsive">Categories</h5>
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-6">
                            <ul class="list-unstyled mb-0">
                                <li>
                                    <a href="{{ @path }}/search/Breakfast" class="orange-text darken-hover">Breakfast</a>
                                </li>
                                <li>
                                    <a href="{{ @path }}/search/Lunch" class="orange-text darken-hover">Lunch</a>
                                </li>
                                <li>
                                    <a href="{{ @path }}/search/Dinner" class="orange-text darken-hover">Dinner</a>
                                </li>
                                <li>
                                    <a href="{{ @path }}/search/Dessert" class="orange-text darken-hover">Dessert</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-lg-6">
                            <ul class="list-unstyled mb-0">

                                <li>
                                    <a href="{{ @path }}/search/Healthy" class="orange-text darken-hover">Healthy</a>
                                </li>
                                <li>
                                    <a href="{{ @path }}/search/Baking" class="orange-text darken-hover">Baking</a>
                                </li>
                                <li>
                                    <a href="{{ @path }}/search/Drinks" class="orange-text darken-hover">Drinks</a>
                                </li>
                                <li>
                                    <a href="{{ @path }}/search/Vegetarian" class="orange-text darken-hover">Vegetarian</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Related recipe cards -->
            <h2 class="text-center pt-5 h2-responsive pb-2">Related Recipes</h2>
            <!-- card container -->
            <div class="hold-cards pb-5">

                <!-- cards -->
                <repeat group="{{ @recipes }}" value="{{ @currentRecipe }}">
                    <!-- Card -->
                    <div class="card mb-5 hoverable">
                        <!-- Card image -->
                        <div class="view overlay">
                            <img class="card-img-top" src="{{ @path }}/{{ @currentRecipe['image'] }}" alt="Card image cap">
                            <a href="{{ @path }}/recipe/{{ @currentRecipe['recipe_id'] }}">
                                <div class="mask rgba-white-slight"></div>
                            </a>
                        </div>

                        <!-- Card content -->
                        <div class="card-body">
                            <!-- title -->
                            <h4 class="card-title h4-responsive">{{ @currentRecipe['title'] }}</h4>

                            <!-- time -->
                            <p class="card-text m-responsive"><i class="far fa-clock"></i> {{ @recipe['time'] }}</p>

                            <!-- description and read more-->
                            <p class="card-text pb-2">
                                {{ trim(substr(@currentRecipe['description'], 0, 100)) }}...
                                <strong>
                                    <a class="orange-text"
                                       href="{{ @path }}/recipe/{{ @currentRecipe['recipe_id'] }}">Read More</a>
                                </strong>
                            </p>
                        </div>
                    </div>
                    <!-- Card -->
                </repeat>

            </div>
            <!-- card container -->
        </div>
        <!-- Sidebar Column -->
    </div>
    <!-- row -->
</div>
<!-- container -->

<!-- edit modal -->
<div class="modal fade left" id="basicExampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-notify modal-warning modal-side modal-bottom-left" role="document">
        <!--Content-->
        <div class="modal-content">
            <!--Header-->
            <div class="modal-header">
                <h3 class="heading h3-responsive">Edit Recipe</h3>

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" class="white-text">&times;</span>
                </button>
            </div>

            <!--Body-->
            <div class="modal-body">
                <div class="text-center">
                    <i class="fas fa-question fa-4x mb-3 animated rotateInUpLeft"></i>
                    <h4 class="h4-responsive">Want to edit this recipe?</h4>
                </div>
            </div>

            <!--Footer-->
            <div class="modal-footer justify-content-center">
                <a type="button" class="btn btn-orange waves-effect grey" data-dismiss="modal">Nevermind</a>
                <a type="button" class="btn btn-warning" href="../edit/{{ @recipe['recipe_id'] }}">Edit <i class="far fa-edit ml-1"></i></a>
            </div>
        </div>
        <!--/.Content-->
    </div>
</div>
<!-- edit modal -->
<include href="views/includes/footer.html"/>
