<include href="views/includes/header.html"/>

<div class="edge-header orange lighten-2" style="height:250px;"></div>

<!-- main container -->
<div class="container free-bird text-center">

    <!-- main row -->
    <div class="row">
        <!-- main col -->
        <div class="col-md-10 col-lg-9 mx-auto float-none white z-depth-1 py-5 px-2 grey lighten-5">

            <h1 class="card-title h1-responsive mb-3 pt-lg-4 pt-sm-0">Search for Recipes</h1>

            <div class="row justify-content-center no-gutters">
                <div class="form-inline pb-lg-5 pb-sm-0">

                    <div class="col-lg-6 px-1 mb-1">
                        <label><input class="form-control hoverable" type="text" placeholder="Search..." size="30"
                                      name="search" value="{{ @SESSION.search }}" id="search"></label>
                    </div>

                    <div class="col-lg-3 px-1 mb-1">
                        <label>
                            <select class="browser-default custom-select hoverable" name="category" id="category">
                                <option value="all">All</option>
                                <repeat group="{{ @categories }}" value="{{ @category }}">
                                    <option value="{{ @category }}"
                                    <check if="{{ @category == @SESSION.category }}">
                                        selected="selected"
                                    </check>>
                                    {{ @category }}
                                    </option>
                                </repeat>
                            </select>
                        </label>
                    </div>

                    <div class="col-lg-3 px-1 mb-1">
                        <button class="btn peach-gradient text-white px-5 py-2" type="submit" name="submit" id="submit">Discover</button>
                    </div>

                </div>
            </div>
            <!-- inner row -->
        </div>
        <!-- main col -->
    </div>
    <!-- main row -->
</div>
<!-- main container -->

<!-- main container -->
<div class="container my-5 pb-5 pt-3">

    <!-- session search has content -->
    <check if="{{ isset(@SESSION.search) && @SESSION.search != '' }}">
        <!-- display search with category -->
        <true>
            <h2 class="h2-responsive text-center resultHeading">
                Here are your results for <strong class="orange-text">{{ @SESSION.search }}</strong> in
                <strong class="orange-text"> {{ @SESSION.category }}</strong>
            </h2>
        </true>

        <!-- session search is empty -->
        <false>
            <!-- session category is all -->
            <check if="{{ @SESSION.category == 'all' }}">
                <true>
                    <h2 class="h2-responsive text-center resultHeading">All recipes</h2>
                </true>

                <!-- session category is not all -->
                <false>
                    <!-- session category is empty -->
                    <check if="{{ @SESSION.category == '' }}">
                        <!-- nothing to display -->
                        <true>
                            <h2 class="h2-responsive text-center resultHeading"></h2>
                        </true>

                        <!-- all recipes in category -->
                        <false>
                            <h2 class="h2-responsive text-center resultHeading">
                                Recipes in <strong class="orange-text">{{ @SESSION.category }}</strong>
                            </h2>
                        </false>
                    </check>
                    <!-- session category is empty -->
                </false>
            </check>
            <!-- session category is all -->
        </false>
    </check>
    <!-- session search has content -->

    <!-- search results -->
    <!-- recipe cards -->
    <div class="result">
        <repeat group="{{ @recipes }}" value="{{ @recipe }}" counter="{{ @ctr }}">
            <!-- container -->
            <div class="container pt-5">
                <!-- recipe jumbotron -->
                <div class="jumbotron text-center hoverable p-4 grey lighten-5">
                    <!-- row -->
                    <div class="row">
                        <!-- column -->
                        <div class="col-md-4 offset-md-1 mx-3 my-3">
                            <!-- image -->
                            <!--Mask with wave-->
                            <div class="view overlay">
                                <img src="{{ @path }}/{{ @recipe['image'] }}" class="img-fluid" alt="Sample image with waves effect.">
                                <a href="{{ @path }}/recipe/{{ @recipe['recipe_id'] }}">
                                    <div class="mask waves-effect waves-light rgba-white-slight"></div>
                                </a>
                            </div>
                        </div>
                        <!-- column -->

                        <!-- column -->
                        <div class="col-md-7 text-md-left ml-3 mt-3">

                            <!-- Category -->
                            <a href="{{ @path }}/search/{{@categories[(int)@recipe['category']-1]}}" class="orange-text">
                                <h6 class="h6 pb-1 deep-orange-lighter-hover"><i class="fas fa-utensils"></i> {{ @categories[(int)@recipe['category']-1] }}</h6>
                            </a>

                            <!-- Title -->
                            <h4 class="h4 mb-4">{{ @recipe['title'] }}</h4>

                            <!-- Part of description -->
                            <p class="font-weight-light">{{ substr(@recipe['description'] , 0, 261)}}
                            </p>

                            <!-- Time -->
                            <h6 class="h6 pb-1"><i class="far fa-clock"></i> {{ @recipe['time'] }}</h6>
                            <!-- Date -->
                            <h6 class="h6 pb-1">Posted on: {{ date('F j, Y', strtotime(@recipe['date_created'])) }}</h6>
                            <!-- View recipe -->
                            <a class="ml-0 btn peach-gradient text-white" href="{{ @path }}/recipe/{{ @recipe['recipe_id'] }}"><i class="fas fa-hamburger mr-1"></i> Full recipe </a>
                        </div>
                        <!-- column -->
                    </div>
                    <!-- row -->
                </div>
                <!-- recipe jumbotron -->
            </div>
            <!-- container -->
        </repeat>
    </div>
    <!-- result -->
</div>
<!-- main container -->
{{ session_destroy() }}

<script>
    //if (search - key movement) or (category - change)
    $('#search, #category').on('keyup keypress keydown change', function() {

        //get values
        let category = $('#category').val();
        let search = $('#search').val();

        //search is empty
        if(search === '') {
            //all recipes
            if(category === 'all') {
                $('.resultHeading').html('All recipes');
            }
            //all recipes in category
            else {
                $('.resultHeading').html('Recipes in <strong class="orange-text">' + category + '</strong>');
            }
        }
        //search has contents, display with category selected
        else {
            $('.resultHeading').html('Here are your results for <strong class="orange-text">'
                + search + '</strong>' + ' in ' + '<strong class="orange-text">' + category + '</strong>');
        }

        //post category and search for retrieval
        $.post("model/ajaxsearch.php", { category : category, search : search }, function(result) {
                $('.result').html(result);
            }
        );
    });
</script>
<include href="views/includes/footer.html"/>