<include href="views/includes/header.html"/>
<!-- purple header -->
<div class="edge-header orange" style="height:215px;"></div>

<!-- main container -->
<div class="container free-bird">
    <!-- row -->
    <div class="row">
        <!-- container -->
        <div class="col-md-8 col-lg-7 mx-auto float-none white z-depth-1 py-2 px-2">

            <!-- card -->
            <div class="card-body">
                <h1 class="h1-responsive text-center"><strong>Almost done!</strong></h1>
                <h4 class="pb-4 h4-responsive text-center orange-text">Just a couple more things</h4>

                <!-- form -->
                <form action="#">

                    <!-- title -->
                    <div class="form-group py-3">
                        <h5 class="h5-responsive"><label for="ingredients">What ingredients does it contain?</label></h5>
                        <textarea id="ingredients" class="form-control hoverable" rows="10" placeholder="1 ingredient per line"></textarea>
                        <small>Include measurements and/or amounts</small>
                    </div>

                    <!-- time -->
                    <div class="form-group py-3">
                        <h5 class="h5-responsive"><label for="directions">What are the steps to make it?</label></h5>
                        <textarea id="directions" class="form-control hoverable" rows="10" placeholder="1 instruction per line"></textarea>
                        <small>Give numbered instructions for clarity</small>
                    </div>

                    <div class="py-3">
                        <p>Is it measured in metric or standard?</p>

                        <div class="custom-control custom-radio">
                            <input type="radio" class="custom-control-input" id="metric" name="measure">
                            <label class="custom-control-label" for="metric">Metric</label>
                        </div>

                        <div class="custom-control custom-radio">
                            <input type="radio" class="custom-control-input" id="standard" name="measure">
                            <label class="custom-control-label" for="standard">Standard</label>
                        </div>
                    </div>

                    <!-- submit/back -->
                    <div class="pt-5 text-center">
                        <a class="btn btn-outline-orange waves-effect" href="/it328/foodie">Back <i class="fas fa-undo-alt mt-1 pl-1"></i></a>
                        <button type="button" class="btn peach-gradient text-white">Share <i class="fas fa-globe-americas pl-1"></i></button>
                    </div>
                </form>
                <!-- form -->
            </div>
            <!--card-->
        </div>
        <!-- container -->
    </div>
    <!-- row -->
</div>
<!-- main container -->
<include href="views/includes/footer.html"/>