<include href="views/includes/header.html"/>

<div class="edge-header orange lighten-2" style="height:250px;"></div>

<!-- main container -->
<div class="container free-bird">
    <!-- row -->
    <div class="row">
        <!-- container -->
        <div class="col-md-12 col-lg-10 col-sm-12 mx-auto float-none white z-depth-1 grey lighten-5 p-5 animated pulse">


        </div>
        <!-- container -->
    </div>
    <!-- row -->
</div>

<include href="views/includes/footer.html"/>