<include href="views/includes/header.html"/>
<!-- purple header -->
<div class="edge-header orange lighten-2" style="height:250px;"></div>

<!-- main container -->
<div class="container free-bird">
    <!-- row -->
    <div class="row">
        <!-- container -->
        <div class="col-md-12 col-lg-10 col-sm-12 mx-auto float-none white z-depth-1 grey lighten-5 p-5 animated pulse">

            <form class="mb-4" action="" method="post">

                <!--Section heading-->
                <h1 class="h1-responsive text-center pt-2"><strong>Questions?</strong></h1>

                <!--Section description-->
                <p class="text-center w-responsive mx-auto mb-5">If you're having issues with the site, find any bugs,
                    or just have questions, send us a message and we'll be in touch.
                </p>

                <div class="row px-3 pl-4">

                    <!--Grid column-->
                    <div class="col-md-8 mb-md-0 mb-5">
                        <form id="contact-form" name="contact-form" action="" method="POST">
                            <!--Grid row-->
                            <div class="row">
                                <!--Grid column-->
                                <div class="col">
                                    <div class="mb-4">
                                        <label for="email" class="">Your email</label>
                                        <check if="{{ isset(@errors['email']) }}">
                                            <em class="text-danger">{{ @errors['email'] }}</em>
                                        </check>
                                        <input type="email" id="email" name="email" class="form-control hoverable" required>
                                    </div>
                                </div>
                                <!--Grid column-->
                            </div>
                            <!--Grid row-->

                            <!--Grid row-->
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="mb-4">
                                        <label for="subject" class="">Subject</label>
                                        <check if="{{ isset(@errors['subject']) }}">
                                            <em class="text-danger">{{ @errors['subject'] }}</em>
                                        </check>
                                        <input type="text" id="subject" name="subject" class="form-control hoverable" required>
                                    </div>
                                </div>
                            </div>
                            <!--Grid row-->

                            <!--Grid row-->
                            <div class="row">
                                <!--Grid column-->
                                <div class="col-md-12">
                                    <div class="mb-4">
                                        <label for="message">Your message</label>
                                        <check if="{{ isset(@errors['message']) }}">
                                            <em class="text-danger">{{ @errors['message'] }}</em>
                                        </check>
                                        <textarea type="text" id="message" name="message" rows="4" class="form-control hoverable" required></textarea>
                                    </div>
                                </div>
                            </div>
                            <!--Grid row-->
                        </form>

                        <div class="text-center text-md-left">
                            <button class="btn peach-gradient mb-3 text-white" type="submit" name="submit">Send</button>
                        </div>
                        <div class="status"></div>
                    </div>
                    <!--Grid column-->

                    <!--Grid column-->
                    <div class="col-md-4 text-center col-sm-12">
                        <ul class="list-unstyled mb-0">
                            <li><i class="fas fa-map-marker-alt fa-2x orange-text"></i>
                                <p>Auburn, WA 98042, USA</p>
                            </li>

                            <li><i class="fas fa-phone mt-4 fa-2x orange-text"></i>
                                <p>1-800-273-8255</p>
                            </li>

                            <li><i class="fas fa-envelope mt-4 fa-2x orange-text"></i>
                                <p>contact@foodie.com</p>
                            </li>
                        </ul>
                    </div>
                    <!--Grid column-->

                </div>
                <!--row-->
            </form>
        </div>
        <!-- container -->
    </div>
    <!-- row -->
</div>
<!-- main container -->
<include href="views/includes/footer.html"/>