<include href="views/includes/header.html"/>

<div class="edge-header orange lighten-2" style="height:250px;"></div>

<!-- main container -->
<div class="container free-bird">
    <!-- row -->
    <div class="row p-5">
        <!-- container -->
        <div class="col-md-12 col-lg-10 col-sm-12 mx-auto float-none white z-depth-1 grey lighten-5 p-5 animated pulse mb-5">
                <h1 class="display-3">Thank You!</h1>
            <p class="lead"><strong>We have received your feedback.</strong> If need be, we will contact you shortly.</p>
                <hr>

                <p class="lead">
                    <a class="btn peach-gradient text-white" href="../foodie" role="button">Continue to homepage</a>
                </p>

        </div>
        <!-- container -->
    </div>
    <!-- row -->
</div>

<include href="views/includes/footer.html"/>