<include href="views/includes/header.html"/>
<!-- purple header -->
<div class="edge-header orange lighten-2" style="height:250px;"></div>

<!-- main container -->
<div class="container free-bird">
    <!-- row -->
    <div class="row">
        <!-- container -->
        <div class="col-md-8 col-lg-7 mx-auto float-none white z-depth-1 py-2 px-2 grey lighten-5 animated bounce">

            <!-- card -->
            <div class="card-body">
                <h1 class="h1-responsive text-center"><strong>Almost done!</strong></h1>
                <h4 class="pb-4 h4-responsive text-center orange-text">Just a couple more things</h4>

                <!-- form -->
                <form action="" method="post">

                    <!-- ingredients -->
                    <div class="form-group py-3">
                        <h5 class="h5-responsive"><label for="ingredients">What ingredients does it contain?</label></h5>
                        <check if="{{ isset(@errors['ingredients']) }}">
                            <em class="text-danger">{{ @errors['ingredients'] }}</em>
                        </check>
                        <textarea id="ingredients" class="form-control hoverable" rows="10"
                                  placeholder="1 ingredient per line" name="ingredients">{{ @ingredients }}</textarea>
                        <small>Include measurements and/or amounts</small>
                    </div>

                    <!-- instructions -->
                    <div class="form-group py-3">
                        <h5 class="h5-responsive"><label for="instructions">What are the steps to make it?</label></h5>
                        <check if="{{ isset(@errors['instructions']) }}">
                            <em class="text-danger">{{ @errors['instructions'] }}</em>
                        </check>
                        <textarea id="instructions" class="form-control hoverable" rows="10"
                                  placeholder="1 instruction per line" name="instructions">{{ @instructions }}</textarea>
                        <small>Give numbered instructions for clarity</small>
                    </div>

                    <!-- submit/back -->
                    <div class="pt-5 text-center">
                        <a class="btn btn-outline-orange waves-effect" href="../foodie/share"> <i class="fas fa-undo-alt mt-1 pr-1"></i> Back</a>

                        <button type="submit" class="btn peach-gradient text-white"
                                name="submit"> <i class="fas fa-globe-americas pr-1"></i> Share</button>
                    </div>
                </form>
                <!-- form -->
            </div>
            <!--card-->
        </div>
        <!-- container -->
    </div>
    <!-- row -->
</div>
<!-- main container -->
<include href="views/includes/footer.html"/>